<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.serviceModel>
    <client xdt:Transform="Replace">
      <endpoint address="__system-serviceMode-endpoint-AuthenticationSoap-address__" binding="basicHttpBinding" bindingConfiguration="AuthenticationSoap" contract="CmcAuthenticationSvc.AuthenticationSoap" name="AuthenticationSoap" />
      <endpoint address="__system-serviceMode-endpoint-BasicHttpBinding-IPseudoRegistraton-address__" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPseudoRegistraton" contract="PseudoRegistratonSvc.IPseudoRegistraton" name="BasicHttpBinding_IPseudoRegistraton" />
      <endpoint address="__system-serviceMode-endpoint-BasicHttp-address__" binding="basicHttpBinding" bindingConfiguration="BasicHttp" contract="CmcTransferSvc.ITransfer" name="BasicHttp" />
      <endpoint address="__system-serviceMode-endpoint-BasicHttp1-address__" binding="basicHttpBinding" bindingConfiguration="BasicHttp1" contract="CmcCourseSectionSvc.ICourseSection" name="BasicHttp1" />
    </client>
  </system.serviceModel>
</configuration>